# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\suli\prog1_gyak\jslender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
